/* index.css */
@import "tailwindcss";
@import "@fontsource/nunito";

/* body {
  @apply font-sans bg-background text-muted;
} */

.gradient__text {
  background: linear-gradient(to right, #c33a53, #de7bed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --background: #FDEEEB;
  --accent: #FADADD;
  --primary: #A480CF;
  --rose: #CE7E9E;
  --muted: #8C94C1;
  --gradient-start: #E9A7B1;
  --gradient-end: #B3A1E6;
  --lilac: #D4C7F2;
  --softWhite: #F7F7F7;
  --font-family: 'Nunito', sans-serif;
}

.font-rounded {
  font-family: var(--font-family);
}

@keyframes float {
  0%, 100% { transform: translateY(0) rotate(0deg); }
  70% { transform: translateY(-50px) rotate(40deg); }
}

.animate-float-slow {
  animation: float 10s ease-in-out infinite;
}


